{% extends 'base.html' %}

{% block title %}Составленный вариант{% endblock %}

{% block content %}

    <h1>Task Details</h1>
    <form action="/check_results/" method="post">
        {% csrf_token %}
        {% if tasks %}
            <div class="container-fluid">
                {% for task in tasks %}
                    {% cycle '0' '1' as row_number silent %}
                    {% if row_number == '0' %}
                        <div class="row">
                    {% endif %}
                <div class="col-md-6 mb-4" style="text-align: center">
                    <div class="task-container">
                        <strong>Condition:</strong> <br>
                        <p style="display: block;"> {{ task.0 }}
                            {% if task.2 %}
                                <img src="../static/images/{{ task.2 }}" alt="task_image"
                                     style="vertical-align: top">
                            {% endif %}
                        </p>
                        <br>
                        <label>
                            <input type="text" name="answer_{{ forloop.counter }}"
                                   placeholder="Your answer">
                        </label>
                        <input type="hidden" name="correct_answer_{{ forloop.counter }}"
                               value="{{ task.1 }}">
                    </div>
                </div>
                {% if row_number != '0' %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>No tasks available.</p>
        {% endif %}
        <button type="submit">Check Everything</button>
    </form>
    <a href="/">Back to Home</a>
{% endblock %}
