{% extends 'base.html' %}

{% block title %}Генерация варианта{% endblock %}

{% block content %}
    <form action="/created_version/" method="post">
        {% csrf_token %}
        <div id="counterContainer"></div>

        <button type="submit">Create</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function increment(id) {
            let element = document.getElementById(id);
            element.value = Math.min(parseInt(element.value) + 1, 10);
        }

        function decrement(id) {
            let element = document.getElementById(id);
            element.value = Math.max(parseInt(element.value) - 1, 0);
        }

        const counters = [
            {label: 'Планиметрия', id: 'planimetria'},
            {label: 'Векторы', id: 'vectors'},
            {label: 'Стереометрия', id: 'stereometry'}
        ];

        function createCounter(label, id) {
            return `
            <div>
                <label>${label}: </label>
                <button type="button" onclick="decrement('${id}')">-</button>
                <input type="text" name="${id}" id="${id}" value="0" readonly>
                <button type="button" onclick="increment('${id}')">+</button>
            </div>
        `;
        }

        const container = document.getElementById('counterContainer');
        counters.forEach(counter => {
            container.innerHTML += createCounter(counter.label, counter.id);
        });
    </script>
{% endblock %}