{% extends 'base.html' %}

{% block title %}Генерация варианта{% endblock %}

{% block content %}
    <form action="/created_version/" method="post">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mb-4" style="text-align: center">
                    <div class="generate-container">
                        <h2>Составление полного <br> варианта</h2>
                        <hr>
                        <div id="FullCounterContainer"></div>
                        <div style="height: 10px"></div>
                        <button type="submit" class="button" name="create_full_version">Создать</button>
                    </div>
                </div>
                <div class="col-md-6 mb-4" style="text-align: center">
                    <div class="generate-container">
                        <h2>Составление собственного варианта</h2>
                        <hr>
                        <div id="CustomCounterContainer"></div>
                        <div style="height: 10px"></div>
                        <button type="submit" class="button" name="create_custom_version">Создать</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function increment(id) {
            let element = document.getElementById(id);
            element.value = Math.min(parseInt(element.value) + 1, 10);
        }

        function decrement(id) {
            let element = document.getElementById(id);
            element.value = Math.max(parseInt(element.value) - 1, 0);
        }

        const counters = [
            {label: '1. Планиметрия', id: 'planimetria'},
            {label: '2. Векторы', id: 'vectors'},
            {label: '3. Стереометрия', id: 'stereometry'},
            {label: '4. Начала теории вероятностей', id: 'probability_beginnings'},
            {label: '5. Вероятности сложных событий', id: 'complex_events_probability'},
            {label: '6. Простейшие уравнения', id: 'simple_equations'},
            {label: '7. Вычисления и преобразования', id: 'calculations_transformations'},
            {label: '8. Производная и первообразная', id: 'derivative_integral'},
            {label: '9. Задачи с прикладным содержанием', id: 'applied_problems'},
            {label: '10. Текстовые задачи', id: 'word_problems'},
            {label: '11. Графики функций', id: 'function_graphs'},
            {label: '12. Наибольшее и наименьшее значение функций', id: 'extrema_functions'}
        ];

        function createCounter(label, id, value = 0, display = 'block') {
            return `
            <div style="display: flex; align-items: center; vertical-align: center; margin: 5px 0">
                <button type="button" onclick="decrement('${id}')" class="edit_number_button" style="display: ${display}">-</button>
                <input type="text" name="${id}" id="${id}" value="${value}" class="number_of_tasks" readonly">
                <button type="button" onclick="increment('${id}')" class="edit_number_button" style="display: ${display}" ">+</button>
                <label style="margin-right: auto; margin-left: 10px; margin-bottom: 0">${label}: </label>
            </div>
        `;
        }

        const container = document.getElementById('CustomCounterContainer');
        const full_container = document.getElementById('FullCounterContainer');
        counters.forEach(counter => {
            container.innerHTML += createCounter(counter.label, counter.id, 0);
            full_container.innerHTML += createCounter(counter.label, counter.id + counters.length, 1, 'none');
        });
    </script>
{% endblock %}