.main-container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
}

.profile-username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-img {
    max-width: 100%;
    margin-bottom: 20px;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.profile-stat {
    text-align: center;
}

.generate-container {
    min-width: 535px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-container {
    max-width: 500px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.number_of_tasks {
    max-width: 40px;
    text-align: center;
    margin: 0 5px;
    border-radius: 4px;
    border-color: darkgrey;
}

.edit_number_button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: orange;
    background: white;
}

.edit_number_button:hover,
.edit_number_button:focus,
.edit_number_button:active {
    border-color: orange;
    background: white;
}

.button {
    height: 40px;
    width: 100px;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: orange;
    border-radius: 8px;
    border: 3px orange;
}

.button:hover,
.button:focus,
.button:active {
    background-color: orange;
    border: 3px orange;
}